@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
/*
paleta verde
.color1 {color: #141807;} mas oscuro
.color2 {color: #105203;}
.color3 {color: #4bca00;}
.color4 {color: #f5fe27;}
.color5 {color: #fffba8;}
*/


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    overflow: hidden;
}
section{
    display: grid;
    grid-template-columns: auto; /*default value of columns*/
    grid-auto-rows: auto;
    height: 100vh;
    align-content: center;
    justify-items: center;
   /*background: linear-gradient(to bottom, #f1f4f9, #dff1ff); /*light mode background*/
    background: linear-gradient(to bottom, #373838, #2d3235); /*dark mode background*/
}

section .color{
    position: absolute;
    filter: blur(150px);
    animation: animateBg 10s linear infinite;
    animation-delay: calc(-1s * var(--j));
}
/*---------------------position and color background tricolor ------------------------------------*/
section .color:nth-child(1){
    top: -350px;
    width: 900px;
    height: 600px;
}
section .color:nth-child(2){
    bottom: -150px;
    left: 90px;
    width: 600px;
    height: 650px;
}
section .color:nth-child(3){
    bottom: 50px;
    right: 100px;
    width: 350px;
    height: 500px;
    
}
/*---------------------position background tricolor ------------------------------------*/

.box{
    position: relative;
}
.box .square{
    position: absolute;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgb(0, 0, 0, 0.1);
    border: 1px solid rgb(255, 255, 255, 0.5);
    border-right: 1px solid rgb(255, 255, 255, 0.2);
    border-bottom: 1px solid rgb(255, 255, 255, 0.2);
    background: rgba(255,255,255,0.1);
    border-radius: 10px;
    animation: animate 10s linear infinite;
    animation-delay: calc(-1s * var(--i));
}
@keyframes animate{
    0%, 100%{
        transform: translateY(-30px);
    }
    50%{
        transform: translateY(30px);
    }
}
@keyframes animateBg{
    0%{
        background: #1a3b0a;
    }
    25%{
        background: #30790f;
    }
    50%{
        background: #1c720b;
    }
    75%{
        background: #4cbe0a;
    }
    100%{
        background: #1a3b0a;
    }
}
/*---------------------square position ------------------------------------*/
.box .square:nth-child(1){
    top: -50px;
    right: -110px;
    width: 100px;
    height: 100px;
}
.box .square:nth-child(2){
    top: 150px;
    left: -130px;
    width: 120px;
    height: 120px;
    z-index: 2;
}
.box .square:nth-child(3){
    bottom: 50px;
    right: -60px;
    width: 80px;
    height: 80px;
    z-index: 2;
}
.box .square:nth-child(4){
    bottom: -80px;
    left: 100px;
    width: 50px;
    height: 50px;
}
.box .square:nth-child(5){
    top: -80px;
    left: 140px;
    width: 60px;
    height: 60px;
}
/*---------------------square position ------------------------------------*/

/*.containerTable{
    display: grid;
    grid-template-columns: auto; 
    grid-auto-rows: auto;
    width: auto;
    height: 70vh;
    overflow: visible;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    margin: 50px;
    align-content: center;
    justify-items: center;
    background: rgba(255,255,255,0.1);
    border-radius: 10px;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgb(0, 0, 0, 0.1);
    border: 1px solid rgb(255, 255, 255, 0.5);
    border-right: 1px solid rgb(255, 255, 255, 0.2);
    border-bottom: 1px solid rgb(255, 255, 255, 0.2);
    padding: 1.5rem;
    padding: 25px;
}*/

.Mytable{
    border-collapse: collapse;
    width: 100%;
    height: 300px;
    overflow: auto;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    border: 1px solid rgba(141, 240, 240, 0.5);
    border-right: 1px solid rgb(141, 240, 240, 0.4);
    border-bottom: 1px solid rgb(141, 240, 240, 0.4);
    background: transparent;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 0.8em;
    text-align: left;
    color: #fff;
    padding: 1rem;
}
.Mytable thead{
    font-size: 1em;
}
.Mytable > :not(caption) > * > * {
    padding: 0.2rem 0.5rem;
  }
tr:hover td{
    color: rgb(166, 216, 218);
}
tr:nth-child(even){
    background-color: rgba(221, 221, 221, 0.2);
}
.Mytable > :not(:first-child) {
    border-top: 2px solid currentColor;
  }
.forget{
    position: relative;
    top: 7vh;
    left: 2.5vh;
    margin: 0;
    padding: 10px 20px;
    font-size: 14px;
    text-decoration: none;
    color: #fff;
}
.forget:hover{
    cursor: pointer;
    color: rgb(0, 0, 0);
}

.btnAction{
    color: aliceblue;
    padding: 0;
    margin: 0;
    padding-left: 25px;
    font-size: 1.5em;
}




